@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* ── Agrega aquí tus estilos globales si los necesitás ── */

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #e6e6ff;
}
